html { font-family: sans-serif; width: 100%; }
body { margin: 8px; }

#top { position: absolute; top: 0; }

#load_disable { position: absolute; z-index: 5; background-color: white; opacity: 0.7; top: 0; left: 0; width: 100%; height: 100%; margin: 0; padding: 0; }

#time, #scroll { position: fixed; z-index: 2; left: 0; margin: 8px; text-align: center; color: #ccc; }
#time { top: 0; }
#scroll { bottom: 0; display: none; max-width: 40px; font-size: 0.8em; }
#scroll a { color: #ccc; text-decoration: none; }
.what #time, .what #scroll { display: none !important; }

#opt_what, #opt_style {
	position: absolute;
	display: block;
	z-index: 4;
	top: 8px;
	width: 25px;
	line-height: 25px;
	text-align: center;
	font-weight: 900;
	cursor: pointer;
}
#opt_what {
	right: 41px;
	width: 21px;
	line-height: 21px;
	border: 2px solid;
	text-decoration: none;
}

#opt_style {
	right: 8px;
	background: black;
	color: white;
}
.black #opt_style { background: white; color: black; }

#banner, .filters, #part_view { position: relative; z-index: 3; background: white; padding-top: 0; }

h1 { font-size: 25px; margin: 0 0 8px 0; padding: 0; }
h1 a { text-decoration: none; }

#tabs { list-style-type: none; border-bottom: 2px solid; padding: 5px 0 0 0; margin: 0; }
#tabs li { display: inline-block; padding: 2px 6px; cursor: pointer; }
#tabs a { text-decoration: none; }
.next #tab_next, .star #tab_star, .prog #tab_prog,.part #tab_part, .maps #tab_maps { font-weight: 900; border: 2px solid; border-bottom-color: white !important; margin-bottom: -2px; }

.view { display: none; }
.what #what_view { display: block; position: relative; z-index: 6; }
.next #next_view { display: block; }
.star #star_view { display: block; }
.prog #prog_view { display: block; }
.part #part_view { display: block; }
.maps #maps_view { display: block; }

#what_view h3 { margin: 20px 0 5px 0; border-bottom: 2px solid #ccc; padding-bottom: 2px; }
#what_view h3 + p { margin-top: 5px; }
#what_view p { max-width: 600px; }

#ical_link { color: #888; padding-left: 55px; cursor: pointer; }

.filters { display: none; clear: both; margin-left: -20px; padding-top: 20px; background: white; }
.filters > * { padding-left: 20px; }
.filters ul { list-style-type: none; margin-top: 0; }
.filters li { cursor: pointer; }

.next #next_filters { display: block; margin-left: 0; }
.prog #prog_filters { display: block; }
.part #part_filters { display: block; }

#next_filters > * { padding-left: 0; }
#next_time { margin: -4px 0 20px 4px; border: 2px solid; padding: 2px 4px; -webkit-appearance: none; -webkit-border-radius: 0; background: white; font-size: 1em; }
#next_start_note { margin-top: 20px; color: #ccc; }

#prog_filters ul { position: relative; display: block; float: left; margin: 0; z-index: 2; }
/*#floor, #stars { margin-bottom: -19px !important; }
#prog_filters input { margin: 38px 4px -33px 0; }*/
#prog_filters input { margin: 19px 4px 0 0; }

#part_filters ul { clear: left; }
#name_sort li { display: inline-block; padding: 0 10px; }
#first_letter li { display: inline-block; width: 30px; line-height: 30px; text-align: center; }
#part_names { margin-bottom: 0; }
#part_names li { cursor: auto; }
#part_names a { text-decoration: none; }
.fn { display: inline-block; min-width: 120px; text-align: right; }

.disabled { color: #ccc !important; cursor: auto !important; }
.selected { font-weight: 900; border-color: black !important; }
.hint { clear: left; color: #888; font-size: 0.8em; padding-top: 5px; }

form { position: relative; clear: left; z-index: 1; }
input { margin: 0 4px 0 0; border: 2px solid #ccc; padding: 3px; background: white; }
input[type="text"] { border: 2px solid #ccc; }
#q, #q_ctrl { display: block; float: left; }
#q_fix { cursor: pointer; }
#q_fix b { color: black; }

.ls { clear: both; }

#part_info { clear: both; }
#part_info h2 { font-size: 2.0em; margin: 0 0 10px 0; border-bottom: 2px solid; }
#part_info p { margin-bottom: 0; }

.new_day { padding-top: 40px; background: white; border-bottom: 2px solid; font-size: 2.0em; width: 100%; }
.new_day, .new_time { position: relative; z-index: 2; }
hr { position: relative; z-index: 2; width: 100%; margin: 0; border: none; padding: 0; height: 2px; background: #ccc; }
.new_day + hr { display: none; }
.new_time { padding: 10px 0 0 0; height: 70px; margin-bottom: -75px; width: 45px;
	background: white;
	background: transparent -webkit-linear-gradient(top, white 50%, rgba(255,255,255,0.0));
	background: transparent    -moz-linear-gradient(top, white 50%, rgba(255,255,255,0.0));
	background: transparent     -ms-linear-gradient(top, white 50%, rgba(255,255,255,0.0));
	background: transparent         linear-gradient(top, white 50%, rgba(255,255,255,0.0));
}

.item_frame { position: relative; margin-left: 45px; }

.item_star { position: absolute; width: 20px; height: 20px; top: 10px; left: 10px; background: #ccc; cursor: pointer; }
.item_star.has_star { background: #ff3; }

.item { clear: both; display: block; overflow: auto; padding-top: 5px; padding-left: 0; margin-bottom: 10px; cursor: pointer; }

.item div { float:left; padding-right: 10px; min-height: 1em; }
.title { margin-left: 40px; }
.loc { color: #888; font-size: 0.875em; clear: left; margin: 3px 10px 0 40px; }
.ical_link { display: none; color: #888; font-size: 0.875em; margin: 3px 10px 0 40px; float: right !important; }
.extra { display: none; clear: left; padding: 20px 0 0 10px; }

.expanded { background: #f3f3f3; margin-bottom: 10px; }
.expanded .title { font-weight: bold; }
.expanded .ical_link, .expanded .extra { display: block; }

a { color: black; }

#maps_view a { display: block; float: left; max-width: 290px; margin-top: 20px; text-align: center; text-decoration: none; }
#maps_view a img { border: 2px solid; }

.black, .black #next_time { background: black; color: white; }
.black.next #tab_next, .black.prog #tab_prog, .black.part #tab_part, .black.maps #tab_maps { border-bottom-color: black !important; }
.black #banner, .black .filters, .black #part_view, .black input, .black .new_day { background: black; }
.black .new_time {
	background: black;
	background: transparent -webkit-linear-gradient(top, black 50%, rgba(0,0,0,0.0));
	background: transparent    -moz-linear-gradient(top, black 50%, rgba(0,0,0,0.0));
	background: transparent     -ms-linear-gradient(top, black 50%, rgba(0,0,0,0.0));
	background: transparent         linear-gradient(top, black 50%, rgba(0,0,0,0.0));
}
.black input, .black #q_fix b, .black a { color: white; }
.black .selected, .black .selected span { border-color: white !important; text-decoration: underline; }
.black input.selected { text-decoration: none !important; }
.black .expanded { background: #202020; }
