.font-normal () { font-family: 'Lato', sans-serif; font-weight: normal; }
.font-heavy () { font-weight: bold; }
.font-title () { font-family: 'Lato'; font-weight: bold; }
.font-small () { font-size: 0.875em; }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  src: local('Lato Light'), local('Lato-Light'), url(Lato300.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  src: local('Lato Bold'), local('Lato-Bold'), url(Lato700.ttf) format('truetype');
}
