html, #banner {
	background: #efefef;
	font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
}
#tab_info, #tab_prog, #tab_next, #tab_chgs, #tab_star {
	border: none !important;
}

input[type=text] {
  background: #f2e6ff;
}

input[type=submit],input[type=reset] {
  border: #8000ff 2px solid;
}

#main {
	xbackground: #416059;
	xcolor: white;
}

.filters, .new_day {
	background: none;
}
#filter_sum {
	background: none;
	border: none;
}

.new_time {
	background:none;
}

.new_day {
	border-bottom: 4px solid #bebebe;
}

.item .loc {
	xcolor: #ade;
}

.expanded .item_star, .item_star {
	background-color: transparent !important;
}

.expanded {
	background: white;
}

.item_star {
	background-image:url("rcon-star.png");
	background-size: 100% 100%;
	background-color: none;

}

.item_star.has_star {
	background-size: 100% 100%;
	background-color: transparent !important;
	background-image:url("rcon-star-starred.png") !important;
	background-repeat: repeat !important;
	background-attachment: scroll !important;
	background-position: 0 0 !important;
}

#filter_sum, .expanded .item_star {
	background-color: transparent !important;
}

.item .title {
	border-top: 0px solid transparent;
	border-left: 5px solid transparent;
	border-bottom: 1px solid transparent;
	padding-left: 5px;

}

#scroll, #scroll a, #server_info, #time {
    color: black;
}

hr {
	background-color: gray !important;
}

/* default */
.title {
	border-image: linear-gradient(to right, rgba(153,51,153,1) 0%, rgba(153,51,153,0) 20%) 1 10%;
}

/*
2018
Aloittelijaystävällinen
Eisovellulapsille
Englanninkielinen
Esitelmä		244,121,33
Figut			0,179,189
Freeform		0,168,228
Keskustelu
Kielivapaa
Kokemuspiste		220,193,105
Korttipelit 		239,77,53
Lapsiystävällinen
Larpit			238,54,137
Lautapelit		138,106,174
Muuohjelma
Paneeli
Pöytäpelit		0,168,228
Soveltuu lapsille
Tanssiohjelma		169,167,181
Työpaja			96,187,70

*/

@muu: rgba(43,5,67,1);
@puhepuhe: rgba(7,1,42,1);
@paneeli: rgba(2,25,43,1);
@roolipeli: rgba(137,56,136,1);
@paja: rgba(6,55,80,1);
@figut: rgba(40,155,146,1);
@kokemus: rgba(243,230,55,1);
@korttipeli: rgba(196,47,52,1);
@lautapeli: rgba(220,146,55,1);
@larp: rgba(90,10,87,1);

.cat_Muuohjelma, .cat_Noneoftheabove { border-image: linear-gradient(to right, @muu 0%, rgba(0,0,0,0) 20%) 1 10%; }
.cat_Puheohjelmaesitelmä, .cat_Presentation { border-image: linear-gradient(to right, @puhepuhe 0%, rgba(0,0,0,0) 20%) 1 10%; }
.cat_Puheohjelmakeskustelu, .cat_Discussiongroup { border-image: linear-gradient(to right, @puhepuhe 0%, rgba(0,0,0,0) 20%) 1 10%; }
.cat_Puheohjelmapaneeli, .cat_Paneldiscussion { border-image: linear-gradient(to right, @puhepuhe 0%, rgba(0,0,0,0) 20%) 1 10%; }
.cat_Roolipeli, .catPenPaperRPG { border-image: linear-gradient(to right, @roolipeli 0%, rgba(0,0,0,0) 20%) 1 10%; }
.cat_Työpajafigut, .cat_Minitaturefigurines { border-image: linear-gradient(to right, @paja 0%, rgba(0,0,0,0) 20%) 1 10%; }
.cat_Työpajakäsityö, .cat_Crafts { border-image: linear-gradient(to right, @paja 0%, rgba(0,0,0,0) 20%) 1 10%; }
.cat_Työpajamuu, .cat_Otherworkshop { border-image: linear-gradient(to right, @paja 0%, rgba(0,0,0,0) 20%) 1 10%; }
.cat_Työpajamusiikki, .cat_Music { border-image: linear-gradient(to right, @paja 0%, rgba(0,0,0,0) 20%) 1 10%; }

.cat_PelitiskiFigupeli, .cat_Miniaturefigurines { border-image: linear-gradient(to right, @figut 0%, rgba(0,0,0,0) 20%) 1 10%; }
.cat_PelitiskiKokemuspiste, .cat_ExperiencePoint { border-image: linear-gradient(to right, @kokemus 0%, rgba(0,0,0,0) 20%) 1 10%; }
.cat_PelitiskiKorttipeli, .cat_Cardgame { border-image: linear-gradient(to right, @korttipeli 0%, rgba(0,0,0,0) 20%) 1 10%; }
.cat_PelitiskiLautapeli, .cat_Boardgame { border-image: linear-gradient(to right, @lautapeli 0%, rgba(0,0,0,0) 20%) 1 10%; }
.cat_LARP { border-image: linear-gradient(to right, @larp 0%, rgba(0,0,0,0) 20%) 1 10%; }


ul.popup {
  width: 390px;
}

ul.popup li {
	width: 180px;
	border-left: 5px solid rgba(153,51,153,1);
	padding-left: 2px;
  margin-bottom: 3px;
  padding-bottom: 2px;
}

.popup {
  #Muu\ ohjelma, #None\ of\ the\ above { border-left: 5px solid @muu;}
  #Puheohjelma\:\ esitelmä, #Presentation { border-left: 5px solid @puhepuhe;}
  #Puheohjelma\:\ keskustelu, #Discussion\ group { border-left: 5px solid @puhepuhe;}
  #Puheohjelma\:\ paneeli, #Panel\ discussion { border-left: 5px solid @puhepuhe;}
  #Roolipeli, #Pen\ \&\ Paper\ RPG { border-left: 5px solid @roolipeli;}
  #Työpaja\:\ figut, #Miniature\ figurines { border-left: 5px solid @paja;}
  #Työpaja\:\ käsityö, #Crafts { border-left: 5px solid @paja;}
  #Työpaja\:\ muu, #Other\ workshop { border-left: 5px solid @paja;}
  #Työpaja\:\ musiikki, #Music { border-left: 5px solid @paja;}

  #Pelitiski\:\ Figupeli, #Miniature\ figurines { border-left: 5px solid @figut;}
  #Pelitiski\:\ Kokemuspiste, #Experience\ Point { border-left: 5px solid @kokemus;}
  #Pelitiski\:\ Korttipeli, #Cardgame { border-left: 5px solid @korttipeli;}
  #Pelitiski\:\ Lautapeli, #Boardgame { border-left: 5px solid @lautapeli;}
  #LARP { border-left: 5px solid @larp;}
}

.popup-title {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 900;
}

.popup {
  border: none;
}

#all_areas, #all_tags, #all_cats {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.popup-link {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

#tabs {
  font-family: 'Lato', sans-serif;
}

#tab_star, #tab_prog {
  font-size: 18px;
}
.day-list {
  font-size: 14px;
}

.new_day {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

#tabs .sub-side a {
  display: inline;
  font-size: 14px;
}
.restaurants {
  width: auto !important;
  td {
    padding-right: 1em;
  }
}

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.infonav {
  display:none;
}

.info .infonav {
  display:block;
}

#info_view h2 {
  border-bottom: 2px solid #181818;
}

.info .sub-narrow li {
  padding: 6px;
  padding-bottom: 6px;
  padding-top: 6px;
}
.info .sub-narrow li:before {
  content: "";
}
