@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Light'), local('Roboto-Light'), url(Roboto300.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(Roboto500.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(Oswald400.ttf) format('truetype');
}
html {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #000000;
  background: #ffffff;
  width: 100%;
  overflow-y: scroll;
}
body {
  margin: 8px;
}
strong,
b {
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
.new_day {
  font-family: 'Oswald';
  font-weight: 400;
}
h1 {
  font-size: 25px;
  margin: 0 0 8px 0;
  padding: 0;
}
h1 a {
  text-decoration: none;
}
hr {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0;
  border: none;
  padding: 0;
  height: 2px;
  background: #800000;
}
a {
  color: #000000;
  outline: 0;
}
.js-link {
  text-decoration: underline;
  cursor: pointer;
}
form {
  position: relative;
  clear: left;
  z-index: 1;
  overflow: auto;
}
input {
  margin: 0 4px 4px 0;
  border: 2px solid #ccc5bb;
  border-radius: 5px;
  padding: 3px;
  background: #ffffff;
}
input[type="text"] {
  box-shadow: none !important;
}
.discreet {
  font-size: 0.875em;
  color: #736f68;
}
.disabled {
  color: #ccc5bb !important;
  cursor: auto !important;
}
.selected {
  font-weight: bold;
  border-color: #800000 !important;
}
.hint {
  position: relative;
  z-index: 3;
  clear: left;
  max-width: 705px;
  background: #ffffff;
  color: #88847d;
  font-size: 0.8em;
  padding-top: 5px;
}
.popup-wrap {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0.85);
}
.popup-title {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 1.5em;
  margin-top: 20px;
}
.popup {
  display: none !important;
  position: relative;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  border: 2px solid #800000;
  border-radius: 5px;
  padding: 5px;
  text-align: left;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.9);
}
.popup-wrap .popup {
  display: inline-block !important;
}
.popup-title + .popup {
  top: 0;
}
img.popup {
  position: absolute;
  top: 0;
  bottom: 0;
}
ul.popup,
.popup ul {
  width: 300px;
  list-style-type: none;
  margin-top: 0;
}
ul.popup li,
.popup ul li {
  width: 150px;
  display: inline-block;
  padding-bottom: 5px;
  line-height: 1.0;
  cursor: pointer;
}
.filters {
  position: relative;
  z-index: 4;
  clear: both;
  padding: 20px 0;
  max-width: 705px;
  text-align: center;
  background: #ffffff;
}
.filters > * {
  padding-left: 20px;
}
.filters ul {
  list-style-type: none;
  margin-top: 0;
}
.filters li {
  cursor: pointer;
}
#top {
  position: absolute;
  top: 0;
}
#load_disable {
  position: fixed;
  z-index: 5;
  background-color: #ffffff;
  opacity: 0.7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#time,
#scroll {
  position: fixed;
  z-index: 2;
  margin: 0;
  min-width: 65px;
  text-align: center;
  color: #ccc5bb;
}
#time {
  top: 8px;
  white-space: pre;
}
#scroll {
  bottom: 8px;
  display: none;
  max-width: 65px;
  font-size: 0.8em;
}
#scroll a {
  color: #ccc5bb;
  text-decoration: none;
}
#banner {
  position: relative;
  z-index: 5;
  background: #ffffff;
  padding-top: 0;
}
#login-links {
  color: #88847d;
}
#login-links span {
  text-decoration: underline;
  cursor: pointer;
}
#login-links span:hover {
  color: #000000;
}
#login-popup {
  width: 300px;
  padding-left: 8px;
}
#login-popup ul {
  margin: 5px 0;
  padding: 0;
}
#login-popup li {
  line-height: 1.0;
  padding-bottom: 5px;
  text-align: center;
}
#server_connect {
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}
#server_info {
  color: #ccc5bb;
}
#server_info a {
  color: #88847d;
}
#server_info a:hover {
  color: #000000;
}
#server_error {
  display: none;
  position: fixed;
  z-index: 6;
  top: 2px;
  left: 50%;
}
#server_error > div {
  position: relative;
  left: -50%;
  background: #ffbaba;
  color: #d80000;
  border: 2px solid #800000;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
}
#server_error > div code {
  font-size: 1.2em;
}
#tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#tabs li {
  padding: 0;
  margin: 0;
  cursor: pointer;
}
#tabs a {
  display: block;
  padding: 6px;
  text-decoration: none;
}
.next #tab_next,
.star #tab_star,
.prog #tab_prog,
.part #tab_part,
.info #tab_info {
  font-weight: bold;
  border: 2px solid #800000;
}
#refresh {
  display: none;
}
#refresh.enabled {
  display: inline-block;
  position: fixed;
  border: 2px solid #800000;
  border-radius: 5px;
  background: #ffffff;
  padding: 5px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  opacity: 0.5;
}
#refresh.enabled:hover {
  opacity: 1.0;
}
.refresh_icon {
  background: url('icons.png') 0px -94px no-repeat;
  width: 39px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
  padding-right: 5px;
}
@media (max-width: 699px) {
  .wide-only {
    display: none;
  }
  #time,
  #scroll {
    left: 8px;
  }
  #refresh.enabled {
    bottom: 20px;
    right: 20px;
  }
  #banner {
    text-align: center;
    margin: 10px 0;
  }
  #title {
    display: none !important;
  }
  #tabs {
    padding-top: 5px !important;
  }
  #tabs li {
    display: inline-block;
    border-bottom: 2px solid #800000;
  }
  .next #tab_next,
  .star #tab_star,
  .prog #tab_prog,
  .part #tab_part,
  .info #tab_info {
    margin: 0 -2px;
    border-bottom-color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}
@media (min-width: 700px) {
  #time,
  #scroll {
    left: 228px;
  }
  #refresh.enabled {
    bottom: 20px;
    left: 20px;
  }
  #banner {
    width: 200px;
    float: left;
  }
  #title-small {
    display: none;
  }
  #title {
    display: block !important;
  }
  #tabs {
    font-size: 1.2em;
  }
  #tabs li {
    display: block;
    text-align: right;
    border-right: 2px solid #800000;
  }
  .next #tab_next,
  .star #tab_star,
  .prog #tab_prog,
  .part #tab_part,
  .info #tab_info {
    margin: -2px 0;
    border-right-color: #ffffff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  #main {
    position: absolute;
    top: 0;
    left: 228px;
    right: 10px;
  }
  #main p {
    max-width: 600px;
  }
}
.ls {
  clear: both;
}
.ls_loading {
  width: calc(100% - 16px);
  max-width: 685px;
  text-align: center;
}
.item_expander {
  width: calc(100% - 16px);
  max-width: 685px;
  text-align: right;
  position: absolute;
  z-index: 3;
  padding-top: 50px;
}
.new_day {
  padding-top: 40px;
  background: #ffffff;
  border-bottom: 5px solid #800000;
  font-size: 2.0em;
  width: 100%;
}
.new_day,
.new_time {
  position: relative;
  z-index: 2;
}
.new_day + hr {
  display: none;
}
.new_time {
  padding: 13px 0 0 0;
  height: 70px;
  margin-bottom: -78px;
  width: 65px;
  text-align: center;
  background: #ffffff;
  background: transparent -webkit-linear-gradient(top, #ffffff 50%, rgba(255, 255, 255, 0));
  background: transparent -moz-linear-gradient(top, #ffffff 50%, rgba(255, 255, 255, 0));
  background: transparent -ms-linear-gradient(top, #ffffff 50%, rgba(255, 255, 255, 0));
  background: transparent linear-gradient(top, #ffffff 50%, rgba(255, 255, 255, 0));
}
.item_frame {
  position: relative;
  margin: 0 0 10px 65px;
}
.item_star {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 10px;
  background: #f5e6c3;
  cursor: pointer;
}
.item_star.has_star {
  background: #800000 !important;
}
.show_set .item_star {
  width: 14px;
  height: 14px;
  border: 3px solid #f5e6c3;
}
.show_set .item_star.in_set {
  border-color: #800000;
}
.item {
  clear: both;
  display: block;
  overflow: auto;
  padding: 5px 10px 0 30px;
  margin-bottom: 5px;
  cursor: pointer;
}
.item > div {
  margin: 0 10px;
}
.item .title {
  margin: 3px 0 3px 10px;
}
.item .loc,
.item > .item-people {
  display: inline-block;
  color: #88847d;
  font-size: 0.875em;
}
.item .loc a,
.item > .item-people a {
  color: #88847d;
}
.extra {
  display: none;
  clear: left;
}
.extra div {
  float: none;
}
.extra p {
  margin-bottom: 0;
}
.extra .item-people {
  max-width: 600px;
  margin: 1em 0;
}
.votes {
  display: none;
  color: #ccc5bb;
  font-size: 0.875em;
}
.votes a {
  display: inline-block;
  color: #ccc5bb;
}
.has_votes,
.expanded .votes {
  display: inline-block;
}
.v_pos.voted {
  color: #e79e9e;
}
.v_neg.voted {
  color: #9e9ee7;
}
.num-comments {
  display: inline-block;
  color: #ccc5bb;
  font-size: 0.875em;
}
.expanded {
  background: #f5e6c3;
}
.expanded .item_star {
  background: #f0d79d;
}
.expanded .item {
  padding-bottom: 1em;
}
.expanded .title {
  font-weight: bold;
}
.expanded .loc {
  color: #736f68 !important;
}
.expanded .item > .item-people {
  display: none;
}
.expanded .extra,
.expanded .vote,
.expanded .comments-wrap {
  display: block;
}
.expanded .num-comments {
  display: none;
}
.expanded .votes {
  color: #736f68 !important;
}
.expanded .votes a {
  background-repeat: no-repeat;
  height: 15px;
  opacity: 0.5;
  color: #000000;
}
.logged-in .expanded .votes a {
  background-image: url('icons.png');
  padding-left: 18px;
}
.logged-in .expanded .votes a.voted,
.logged-in .expanded .votes a:hover {
  opacity: 1.0;
}
.expanded .v_pos {
  background-position: 0 -32px;
}
.expanded .v_neg {
  background-position: 0 -48px;
}
.expanded .v_pos.voted:hover {
  background-position: 0 -16px;
}
.expanded .v_pos.v2 {
  background-position: 0 0 !important;
}
.expanded .v_pos.voted {
  color: #ce3d3d;
  font-weight: bold;
}
.expanded .v_neg.voted {
  color: #3d3dce;
  font-weight: bold;
}
.comments-wrap {
  display: none;
  margin-top: 1em !important;
}
.comments-wrap form {
  display: block;
  max-width: 600px;
  margin-bottom: 1em;
}
.comments-wrap form textarea {
  width: 100%;
  width: calc(100% - 6px);
}
.comments-wrap form input[type=submit],
.comments-wrap form input[type=reset] {
  float: right;
  margin: 0 0 0 4px;
}
.comments-wrap form label {
  display: block;
  clear: left;
}
.comments {
  margin-bottom: 1em;
}
.comment {
  border-bottom: 1px solid #ccc5bb;
  padding: 1em 0;
  font-size: 0.875em;
}
.comment > span {
  color: #736f68;
}
.comment > div {
  margin-top: 0.5em;
  max-width: 600px;
  white-space: pre-line;
}
.comment-author {
  font-weight: bold;
}
.comment-author:after {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  content: " | ";
}
#main p {
  white-space: pre-line;
}
#info_view p {
  white-space: initial;
}
.view {
  display: none;
}
.next #next_view {
  display: block;
}
#next_filters > * {
  padding-left: 0;
}
#next_type {
  display: inline-block;
  margin: 5px 0 20px 0;
  padding: 0;
}
#next_type li {
  display: inline-block;
  margin-left: 20px;
}
@media (max-width: 699px) {
  #next_time span {
    display: block;
    clear: left;
    margin-top: 8px;
  }
}
.next_arrow {
  position: absolute;
  cursor: pointer;
  color: #800000;
  font-size: 2.5em;
  margin-top: -20px;
  padding: 0 3px;
}
.next_arrow:hover:after {
  position: absolute;
}
#next_earlier {
  margin-left: 2px;
}
#next_later {
  margin-left: -20px;
}
#next_earlier:hover:after {
  content: '\2039';
  right: 8px;
}
#next_later:hover:after {
  content: '\203A';
  left: 8px;
}
#next_time_select {
  margin: -4px 20px 0 20px;
  border: 2px solid #800000;
  padding: 2px 4px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  background: #ffffff;
  font-size: 1em;
}
#next_time_select_now {
  background: #f5e6c3;
}
#next_start_note {
  margin-top: 20px;
  color: #88847d;
}
.star #star_view {
  display: block;
}
.star #prog_ls .new_day:first-child {
  padding-top: 20px;
}
#star_links,
#star_data {
  text-align: center;
}
.prog #prog_view {
  display: block;
}
#prog_filters {
  margin-left: -20px;
}
#prog_filters ul {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin: 0 0 20px 0;
  padding-left: 20px;
  text-align: left;
  vertical-align: top;
}
#prog_filters ul:focus {
  z-index: 3;
}
#prog_filters li {
  line-height: 1.0;
  padding-bottom: 5px;
}
#prog_filters input {
  margin: 0 4px 0 0;
}
#q,
#q_ctrl {
  display: inline-block;
}
#q {
  max-width: 150px;
}
#q_ctrl input,
#q_fix {
  cursor: pointer;
}
#q:valid {
  background: #f5e6c3;
}
#q:valid + #q_ctrl input {
  border-color: #800000;
}
#q_fix b {
  color: #800000;
}
#q_clear {
  margin-left: 14px !important;
}
#filter_sum {
  clear: left;
  max-width: 681px;
  margin: 20px 0 0 20px;
  border: 2px solid #800000;
  border-radius: 5px;
  padding: 10px;
  background: #f0d79d;
  text-align: center;
}
#filter_sum a {
  font-weight: bold;
  text-decoration: none;
}
#filter_sum a:hover {
  text-decoration: line-through;
}
.part #part_view {
  display: block;
}
#part_view {
  position: relative;
  z-index: 3;
  padding-top: 0;
  margin-bottom: 1em;
  background: #ffffff;
}
#name_sort li {
  display: inline-block;
  padding: 0 10px;
}
#name_range {
  display: inline-block;
  margin: 5px 0 20px 0;
  padding: 0;
}
#name_range li {
  display: inline-block;
  width: 60px;
  text-align: right;
}
#part_names {
  list-style-type: none;
  margin: 0;
  -webkit-column-width: 260px;
  -moz-column-width: 260px;
  column-width: 260px;
}
#part_names li {
  cursor: auto;
}
#part_names a {
  text-decoration: none;
}
.fn,
.ln {
  display: block;
  width: 128px;
  width: calc(48%);
  min-height: 1px;
  float: left;
}
.fn {
  text-align: right;
  vertical-align: top;
  clear: both;
  padding-right: 2px;
}
.ln {
  vertical-align: bottom;
  padding-left: 2px;
}
.part_img {
  display: block;
  float: right;
  border: 5px solid #800000;
  margin: 0 0 5px 10px;
}
.part_img img {
  width: 200px;
}
.part_list_link {
  display: block;
  text-decoration: none;
  padding-bottom: 10px;
}
#part_info {
  clear: both;
}
#part_info h2 {
  font-size: 2.0em;
  margin: 0 0 10px 0;
  border-bottom: 2px solid #800000;
}
#part_info p {
  margin-bottom: 0;
}
.linklist {
  max-width: 705px;
}
.linklist dt {
  float: left;
  width: 100px;
  text-align: right;
  margin-right: 6px;
}
.linklist dd {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.linklist a {
  text-decoration: none;
  font-weight: bold;
}
.linklist a:hover {
  text-decoration: underline;
}
.info #info_view {
  display: block;
  max-width: 600px;
}
.info #time,
.info #scroll {
  display: none !important;
}
#info_view h3 {
  margin: 20px 0 5px 0;
  border-bottom: 2px solid #ccc5bb;
  padding-bottom: 2px;
}
#info_view h3 + p {
  margin-top: 5px;
}
#info_view h2 {
  font-size: 2.0em;
  margin-top: 40px;
  border-bottom: 2px solid #800000;
}
#info_view table {
  width: 100%;
}
#info_view tr:hover {
  background: #f5e6c3;
}
#info_view td {
  text-align: center;
}
#info_view td:first-child {
  text-align: left;
}
#info_view ol {
  margin: 5px 0;
}
#info_view #last-updated {
  display: none;
}
#info_view #last-updated span {
  border-bottom: 1px dotted;
  cursor: pointer;
}
.compact-dl {
  padding-top: 10px;
}
.compact-dl dt {
  width: 165px;
  float: left;
  clear: left;
  text-align: right;
  color: #88847d;
}
.compact-dl dd {
  margin-left: 175px;
  padding-bottom: 10px;
}
.ios_share_icon {
  background: url('icons.png') 0px -67px no-repeat;
  width: 10px;
  height: 14px;
  background-size: 25px;
  display: inline-block;
  width: 10px !important;
  vertical-align: baseline;
  margin: 0 3px !important;
}
.android_menu_icon {
  display: inline-block;
  position: relative;
  left: 5px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.android_menu_icon:before {
  content: "…";
}
.ie_menu_icon {
  position: relative;
  bottom: 4px;
}
.ie_menu_icon:before {
  content: "…";
}
